
body{
    margin: 0;
    cursor: pointer;

}
.container {
    
    height: 99vh;
    width: 160vh;
    position: relative;
    background-color: black;  
}

.font {
    font-family: 'Orbitron', sans-serif;
    color: yellow;
}
h1 {
    
    font-size: 80px;
    left: 55vh;
    bottom: 86vh;
    position: absolute;
    text-shadow: 2px 2px blue;
}
h2 {
    
    position: absolute;
    font-size: 50px;
    text-shadow: 2px 2px red;
}
.heading {
    font-size: 24px;
}
.backdrop {
    margin-top: 10vh;

}
#user {
    background-image:url('assets/red.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 80vh;
     float: left;
}
/*.backdrop {   
}*/
#pc {
    background-image: url('assets/blue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh;
    width: 80vh;
    display: inline-block;

}
#enemyFont {
    position: absolute;
    left: 120vh;
    top: 15vh;
}
#userFont {
    position: absolute;
    left: 19vh;
    top: 15vh;
}
.weapons {
    height: 18vh;
    width: 18vh;
    border: solid 10px;
    display: inline-block;
    top: 15vh;
    left: 10vh;
}
.weapons:hover{
    height: 19vh;
    width: 19vh;
    border: solid 12px yellow;
    display: inline-block;
    top: 15vh;
    left: 10vh;
}

.weaponsPC {
    height: 18vh;
    width: 18vh;
    border: solid 10px;
    display: inline-block;
    top: 15vh;
    left: 10vh;
    
}

#w1 {
    background-image: url('./assets/weapon1.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-left: 20px;
}

#w2 {
    background-image:url('./assets/weapon2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#w3 {
    background-image: url('./assets/weapon3.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#p1 {
    background-image: url('./assets/weapon1.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-left: 20px;
    
}
#p2 {
    background-image:url('./assets/weapon2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#p3 {
    background-image: url('./assets/weapon3.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*.pcDisplay {
    position: absolute;
    height: 30vh;
    width: 60vh;
    border: solid 10px;
    
    top: 58vh;
    left: 8vh;
    background-color: yellow;
    
}*/

.display {
    position: relative;
    height: 30vh;
    width: 60vh;
    border: solid 10px;
    display: inline-block;
    top: 28vh;
    left: 10vh;
    background-image: url('./assets/display.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
#userDisplay {
    
    background-repeat: no-repeat;
    background-size: cover;
}


#userScore {
    position: absolute;
    height: 7vh;
    width: 8vh;
    border: groove 8px;
    display: inline-block;
    top: 13vh;
    left: 4vh;
    color : yellow;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: black;
}

#pcScore {
    position: absolute;
    height: 7vh;
    width: 8vh;
    border: groove 8px;
    display: inline-block;
    top: 13vh;
    right: 5vh;
    color : yellow;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    background-color: black;
}

